:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient( 135deg, #F6CEEC 10%, #D939CD 100%);
  
  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient( 135deg, #F6CEEC 10%, #D939CD 100%);
  --vp-home-hero-image-filter: blur(150px);

  /* brand按钮 */
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: #F6CEEC;
  --vp-button-brand-bg: #B71D1B;

  --vp-button-brand-hover-border: #F6CEEC;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #D939CD;

  --vp-button-brand-active-border: #F6CEEC;

  /* 主题基色 */
  --vp-c-brand: #B71D1B;
  --vp-c-brand-light: #D939CD;
  --vp-c-brand-dark: #D939CD;

  /* --vp-c-bg-mute: #74928a; */
  /* --vp-c-mute: #4d4d87; */
  --vp-c-text-code: #28ffdc;
  --vp-c-mute: #232932;
  /* --vp-c-text-code: #ffffff; */

  --vp-c-bg-overlay: rgba(30,30,32,0.75);

}

.dark {
  --vp-c-bg-overlay: rgba(30,30,32,0.75);
}

.vp-doc strong {
  color: #5b98de;
}
